.header {
   display: flex;
   justify-content: space-between; 
   border-bottom: 2px solid salmon;
   padding: 1rem;
   align-items: center;


}

.header__logo {
   color: palevioletred;
   font-weight: 500;
   font-size: 40px;
  /* object-fit: contain; */
  /* height: 50px; */
}

.header__icon {
   padding: 8px;
   color: palevioletred;
   border: 2px solid salmon;
   border-radius: 50px;
}

.header__icon:hover {
   color: white;
   background-color: salmon;
}

span {
   color: salmon;
   text-transform: uppercase;
   font-size: 50px;
   font-weight: 500;
}

.link {
   text-decoration: none;
}